.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.info-color {
    background-color: #ffc6c6 !important;
}


.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
  }

.sidebar-rule {
    border-top: 1px solid rgba(255,255,255,0.20);
    margin: 1rem;
}

.btn-pink {
    background-color: #D34F9D;
}

.btn-pink:hover {
    background-color: #aa367a;
}

.btn-green {
    background-color: #62BB46;
}

.btn-green:hover {
    background-color: #3a8324;
}

.btn-primary {
    background-color: #1EBDD3;
}

.btn-primary:hover {
    background-color: #1291a1;
}