@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.info-color {
    background-color: #ffc6c6 !important;
}


.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
  }

.sidebar-rule {
    border-top: 1px solid rgba(255,255,255,0.20);
    margin: 1rem;
}

.btn-pink {
    background-color: #D34F9D;
}

.btn-pink:hover {
    background-color: #aa367a;
}

.btn-green {
    background-color: #62BB46;
}

.btn-green:hover {
    background-color: #3a8324;
}

.btn-primary {
    background-color: #1EBDD3;
}

.btn-primary:hover {
    background-color: #1291a1;
}

.bg-blue {
    background-color: #DCF3F7;
}

.bg-pink {
    background-color: #D34F9D;
}

.main-heading {
    font-family: 'Playfair Display', serif;
}

.font-weight-black {
    font-weight: 900;
}

.big-number {
    font-weight: 900;
    color: white;
    width: 90px;
    height: 90px;
    background-color: #aa367a;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    line-height: 90px;
}

.green-dots {
    /* background-color: #1EBDD3; */
    border: #1EBDD3 dotted 1px;
    margin-bottom: 2rem;
}

.text-burgundy {
    color: #783266;
    font-weight: 900;
    font-size: 2rem;
}